body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    font-size: 18px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 900px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Century Gothic", serif;
    color: #0f1e7c;
    height: 230px;
    margin: 0px 10px 0px 10px;
}

.logo {
    text-align: center;
    line-height: 18px;
}

.main-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #0f1e7c;
    border-bottom: 1px solid #41835d;
}

.main-menu a:hover {
    color: #41835d;
}

.content {
    margin: 0 auto;
    text-align: center;
    line-height: 18px;
    font-family: "Century Gothic", serif;
    color: #41835d;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border-bottom: 1px solid #41835d;
    padding: 20px;
    color: #0f1e7c;
}

table td a {
    text-decoration: none;
    color: #0f1e7c;
    cursor: pointer;
}

table td a:hover {
    color: #41835d;
}

caption {
    color: #41835d;
}

footer {
    text-align: center;
    line-height: 18px;
    font-family: "Century Gothic", serif;
    color: #0f1e7c;
}



