<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="content">
    <table class="departments">
        <caption><h2>D E P A R T M E N T S</h2> &nbsp; table</caption>
        <tr>
            <th>I D</th>
            <th>N a m e</th>
            <th>D e s c r i p t i o n</th>
            <th>P h o n e &nbsp; N u m b e r</th>
            <th>D a t e &nbsp; o f &nbsp; F o r m a t i o n</th>
            <th>E m p l o y e e s</th>
        </tr>
        <tr th:each="department: ${departments}">
            <td th:text="${department.id}"/>
            <td th:text="${department.name}"/>
            <td th:text="${department.description}"/>
            <td th:text="${department.phoneNumber}"/>
            <td th:text="${department.dateOfFormation}"/>
            <td><a th:href="@{/departments/{id}(id = ${department.id})}" th:text="${department.employees.size()}"/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a th:href="@{/departments/new}">Add New</a></td>
        </tr>
    </table>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>