<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="content">
    <h2 th:text="${department.name}"></h2>

    <ul class="department">
        <li th:text="${department.description}"></li>
        <li th:text="${department.phoneNumber}"></li>
        <li th:text="${department.dateOfFormation}"></li>
        <li>
            <a th:href="@{/departments/{id}/delete(id = ${department.id})}">delete</a>
        </li>
    </ul>
    <table class="employees">
        <caption><h2>E M P L O Y E E S</h2>of the <span th:text="${department.name}"></span></caption>
        <tr>
            <th>I D</th>
            <th>F u l l &nbsp; N a m e</th>
            <th>D a t e &nbsp; O f &nbsp; B i r t h</th>
            <th>P h o n e &nbsp; N u m b e r</th>
            <th>E m a i l &nbsp; A d d r e s s</th>
            <th>P o s i t i o n</th>
            <th>D a t e &nbsp; o f &nbsp; E m p l o y m e n t</th>
            <th>A c t i o n</th>
        </tr>
        <tr th:each="employee: ${department.employees}">
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.id}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.fullName}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.dateOfBirth}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.phoneNumber}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.emailAddress}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.position}"/></td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.dateOfEmployment}"/></td>
            <td><a th:href="@{/employees/{employeeId}/department/delete(employeeId = ${employee.id})}">remove from department</a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a th:href="@{/employees/free/{departmentId}(departmentId = ${department.id})}">Add New Employee</a></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>