<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="content">
<!--    <table class="departments">-->
<!--        <caption><h2>D E P A R T M E N T S</h2> &nbsp; table</caption>-->
<!--        <tr>-->
<!--            <th>I D</th>-->
<!--            <th>N a m e</th>-->
<!--            <th>D e s c r i p t i o n</th>-->
<!--            <th>P h o n e &nbsp; N u m b e r</th>-->
<!--            <th>D a t e &nbsp; o f &nbsp; F o r m a t i o n</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td th:text="${department.id}"/>-->
<!--            <td th:text="${department.name}"/>-->
<!--            <td th:text="${department.description}"/>-->
<!--            <td th:text="${department.phoneNumber}"/>-->
<!--            <td th:text="${department.dateOfFormation}"/>-->
<!--        </tr>-->
<!--    </table>-->

    <table class="employees">
        <caption><h2>E M P L O Y E E S</h2>of the <span th:text="${department.name}"></span></caption>
        <tr>
            <th>I D</th>
            <th>F u l l &nbsp; N a m e</th>
            <th>D a t e &nbsp; O f &nbsp; B i r t h</th>
            <th>P h o n e &nbsp; N u m b e r</th>
            <th>E m a i l &nbsp; A d d r e s s</th>
            <th>P o s i t i o n</th>
            <th>D a t e &nbsp; o f &nbsp; E m p l o y m e n t</th>
        </tr>
        <tr th:each="employee: ${department.employees}">
            <td th:text="${employee.id}"/>
            <td th:text="${employee.fullName}"/>
            <td th:text="${employee.dateOfBirth}"/>
            <td th:text="${employee.phoneNumber}"/>
            <td th:text="${employee.emailAddress}"/>
            <td th:text="${employee.position}"/>
            <td th:text="${employee.dateOfEmployment}"/>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a th:href="@{/employees/new}">Add New</a></td>
        </tr>
    </table>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>