<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="/css/newForm.css" th:href="@{/css/newForm.css}">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="content">
    <h2 th:text="${employee.fullName}"></h2>

    <ul class="department">
        <li th:text="${employee.dateOfBirth}"></li>
        <li th:text="${employee.phoneNumber}"></li>
        <li th:text="${employee.emailAddress}"></li>
        <li th:text="${employee.position}"></li>
        <li th:text="${employee.dateOfEmployment}"></li>
        <li th:switch="${employee.departmentId}">
            <a th:case="null" th:href="@{/departments}">please add employee to department</a>
            <a th:case="*" th:href="@{/departments/{departmentId}(departmentId = ${employee.departmentId})}">department</a>
        </li>
        <li>
            <a th:href="@{/employees/{employeeId}/delete(employeeId = ${employee.id})}">delete</a>
        </li>
    </ul>

</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>