<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Free Employees</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main class="content">

    <table class="employees">
        <caption><h2>E M P L O Y E E S</h2> &nbsp;  which do not belong to any department</caption>
        <tr>
            <th>I D</th>
            <th>F u l l &nbsp; N a m e</th>
            <th>D a t e &nbsp; O f &nbsp; B i r t h</th>
            <th>P h o n e &nbsp; N u m b e r</th>
            <th>E m a i l &nbsp; A d d r e s s</th>
            <th>P o s i t i o n</th>
            <th>D a t e &nbsp; o f &nbsp; E m p l o y m e n t</th>
        </tr>
        <tr th:each="employee: ${employees}">
            <td>
                <form action="#" th:action="@{/employees/{employeeId}(employeeId = ${employee.id})}" th:object="${employee}" method="post">
                    <input type="hidden" th:value="${departmentId}" th:attr="name='departmentId'"/>
                    <button type="submit" name="submit" value="value" th:text="${employee.id}"/>
                </form>
            </td>
            <td><a th:text="${employee.fullName}"/></td>
            <td><a th:text="${employee.dateOfBirth}"/></td>
            <td><a th:text="${employee.phoneNumber}"/></td>
            <td><a th:text="${employee.emailAddress}"/></td>
            <td><a th:text="${employee.position}"/></td>
            <td><a th:text="${employee.dateOfEmployment}"/></td>
        </tr>
    </table>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>